.contact-box{
    background-color: #040629;
    height: 400px;
    width: 400px;
    padding: 10px;

   
    }
    .contact-detialss{
        border-left: 15px solid #040629;
        border-radius: 2px 2px ;
      

        }
        .icone{
            height: 30px;
            width: 30px;
     
            
        }
     
        .icone-text{
            font-size: 20px;
            font-weight: 700;
            color: #040629;
            padding: 5px;
        }

.contact-container{
    display: flex;
    align-items: center ;
    justify-content: space-around;  
}  
@media only screen and (max-width: 600px) {
  
.contact-container{
  flex-direction: column;
 
} 
.contact-box{
    margin-top: 20px;
    margin-bottom: 25px;
   
}
  }

